body {
    background: #ffff;
    height: 120vh;
}

.navbardbs img {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.texthead {
    font-size: 14px;
    padding: 20px;
    margin-top: 80px;
    font-size: 25px;
    font-weight: 700;
}

.textmenu {
    padding: 20px;
    border-bottom: 1.5px solid #eaeaea;
    font-size: 18px;
    color: #0f0bd3;
}

.texttrx {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    color: #1b0596;
}

.menudbs {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.menudbs button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #2f04ce;
    color: #fff;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}